.forgotPassContainer{
    width: 60%;
    margin: 100px auto;
}


.forgotPassForm{
    padding: 40px;
    border-radius: 10px;
}

.forgotPassForm  h1{
    text-align: center;
    margin-bottom: 20px;
}