.changePassContainer{
    width: 60%;
    margin: 100px auto;
}


.changePassForm{
    padding: 40px;
    border-radius: 10px;
}

.changePassForm  h1{
    text-align: center;
    margin-bottom: 20px;
}