a{
    text-decoration: none;
}
.productCard{
    width: 300px;
    height: 325px;
    padding: 10px;
    margin: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.productCard:hover{
    scale: 1.03;
    transition: 0.2s;
}

.productImg{
    width: 280px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
}

.productPrice{
    font-size: 22px;
    font-weight: 800;
    color: var(--dark-gray)
}

.productName{
    font-weight: 500;
    font-size: 17px;
    color: var(--light-gray);
}

.productDesc{
    font-size: 14px;
    color: var(--light-gray);
}

.productUser{
    font-size: 14px;
    margin-top: 10px;
    color: var(--light-gray);
}

