.user-input {
  width: 250px;
  padding: 5px 3px;
}
.suggestions-list {
  list-style: none;
  padding: 0;
  max-height: 160px;
  overflow-y: none;
  max-width: 250px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.suggestion {
  user-select: none;
  background-color: rgb(226, 181, 181);
  padding: 10px;
  color: rgb(54, 51, 51);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.suggestion:hover {
  /* background-color: rgba(238, 238, 238, 0.1); */
}
.selected {
  /* background-color: rgb(148, 44, 44); */
  /* color: rgb(238, 223, 223); */
}
