.searchWrapper{
  display: flex;  
  width: 400px;
  padding: 10px 10px;
  background-color: var(--off-white);
}
.user-input {
  margin-left: 10px;
  font-size: 15px;
  border: none;
  width: 80%;
  height: 25px;
  background-color: var(--off-white);
  /* make the caret bigger */
  caret-color: var(--primary-color);
  outline: none;
}
.suggestions-list {
  list-style: none;
  padding: 0;
  width: 400px;
  max-height: 160px;
  overflow-y: none;
  max-width: 250px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 10;
  position: absolute;
  border: 1px solid var(--dark-gray);
}
.suggestion {
  background-color: var(--off-white);
  padding: 10px;
  width: 400px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.suggestion:hover {
  background-color: #bdfafc;
}
.selected {
  background-color: var(--dark-gray);
  color: var(--off-white);
}
